<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div>
  <% if @user.normal? %>
    <table class="table table-bordered">
      <tr>
        <th><%= t "date" %></th>
        <th><%= t "categories" %></th>
        <th><%= t "mark" %></th>
        <th></th>
      </tr>
      <div>
        <%= render "search_form" %>
      </div>
      <% if @exams.present? %>
        <%= fields_for :exams do |builder| %>
          <%= render @exams %>
        <% end %>
      <% else %>
        <p><%= t "search_result" %></p>
      <% end %>
    </table>
  <% end %>
</div>
