<tr class="form-group">
  <td><%= f.label :content, t("answer") %></td>
  <td><%= f.text_field :content, class: "form-control" %></td>
  <td class="col-md-1">
    <%= f.check_box :correct %>
    <%= f.label t("correct") %>
    <%= link_to_remove_fields t("remove"), f %>
  </td>
</tr>
