<div class="container">
  <div class="row">
    <h1><%= t "categories" %></h1>
    <%= link_to t("exam_start"), exams_path, class: "btn btn-primary", id: "button" %>
    <div>
      <%= render "search_form" %>
    </div>
    <table class="table table-bordered">
      <tr>
        <th><%= t "id" %></th>
        <th><%= t "category_name" %></th>
        <th><%= t "max_question" %></th>
        <th><%= t "max_time" %></th>
      </tr>
      <% if @categories.present? %>
        <%= render @categories %>
        <%= will_paginate %>
      <% else %>
        <p><%= t "search_result" %><%= params[:search] %></p>
      <% end %>
    </table>
  </div>
</div>
